*{
    padding: 0%;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100%;
    min-height: 110vh;
    background-size: cover;
    background-color: rgb(44, 35, 35);
    position: relative;
    background-position: center;
}

nav .navi-bg{
    height: 80px;
    width: 100%;
    background-color: rgb(50, 50, 71);
    position: absolute;
    display: inline-block;

}
nav .navbar{
    width: 35px;
    height: 24px;
    right: 3%;
    top: 35px;
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor: pointer;
    display: none;
}
nav .navbar span{
    display: block;
    background: red;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform,opacity;
}
nav .navbar span:nth-child(2){
    margin: 7px 0px;
}
nav .nav-list{
    list-style: none;

}
nav ul{
    padding-top: 20px;
    align-items: right;
    position: relative;
    margin-left: 600px;

}
nav .nav-list li{
    display: inline-block;
    background: transparent;
    border: 2px solid red;
    padding: 9px 10px;
    border-radius: 30px;
    line-height: 1.3;
    color: red;
    font-weight: 500;
    align-items: center;
}
nav .nav-list li a{
    display: inline-block;
    color: white;
    margin-left: 55px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
nav .nav-list li a:hover{
    color: red;
    transition: .3s;
}
span
{
    color: red;
}
@media screen and (max-width:1312px) {
    nav .navbar{
        display: block;
    }
    .click{
        top: 46px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    nav .nav-list{
        position: fixed;
        top: 90px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 85%;
        background: black;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 8px;
    }
    nav .nav-list li{
        display: block;

    }
    nav .nav-list li a{
        text-align: center;
        display: block;
        margin-left: 0;
    }
    nav .nav-list.open{
        right: 0;

}

}
